# Ignore IDE settings
.idea/

# Ignore generated media and data files
Experimenter_CREW_01_1_Vehicle_Assistance_1726170531.json
Experimenter_CREW_01_1_Vehicle_Assistance_1726170531.wmv
Experimenter_CREW_999_1_All_1731617801.wav
first_half.wav
second_half.wav

# Ignore spec and build-related files
ISSR-Manual-Transcription-GUI-1_1.exe.spec
ISSR-Manual-Transcription-GUI-1_2.exe.spec
ISSR-Manual-Transcription-GUI-2.exe.spec
ISSR-Manual-Transcription-GUI.exe.spec
__pycache__/
build/
dist/

# Ignore script
split_wav.py
